<div style="display: flex; flex-direction: row">
  <div style="background-color: aqua; width: 30vw; height: 100vh">
    <button type="button" mat-raised-button color="primary" (click)="entreChat('incidente1')">Incidente 1</button>
    <button type="button" mat-raised-button color="primary"  (click)="entreChat('incidente2')">Incidente 2</button>
    <button type="button" mat-raised-button color="primary" (click)="entreChat('incidente3')">Incidente 3</button>
  </div>

  <div style="background-color: brown; width: 70vw; height: 100vh"></div>
</div>
